# Comments start with a '#' and continue to the end of the line
# Blank lines are ignored
#
# test-plugin.so arg1 arg2 arg3
#
# Example:
libbslauncher.so
libbasic-auth.so
libblend_header.so
libcheck_workspace.so
#inktomi/iwx/iwx.so
#inktomi/abuse/abuse.so etc/trafficserver/abuse.config
#inktomi/icx/icx.so etc/trafficserver/icx.config
